* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: darkred;
	height: 100px;
	padding: 5px;

}

h1, h2 {
	color: darkred;
	margin: 0 50 0 0;	
	padding: 40px 0 0 0; 
	text-align: center;
	text-shadow: 1px 2px 1px #111111;
}

p {
	color: crimson;
	font-size: 20px;
	padding: 20px 0 0 0; 
}

body {
    background-color: #B0E0E6;
	min-height: 400px;
}

#div-principal {
    clear: both;
	min-height: 400px;
	padding: 80px 0 0 0; 
}

footer {
	background-color: darkred;
	color: 	#E9967A;
	clear: both;
	font-weight: bold;
	height: 40px;
	padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    text-transform: uppercase; /*-- Deixa a letras do menu em tamanho maíusculo*/
}

.container {
	width: 960px;
	margin: 0 auto;
}

#logo img {
	border-radius: 20px;
	float: left;
    height: 100px;
}

#menu {
    float: right;
	margin-top: 30px;
}

#menu a {
	color: 	#E9967A;
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 1px 1px #111111;
	/* text-transform: uppercase; => Transforma as em tamanho maíusculo */
	font-weight: bold;
}

/* Propriedade de sobreposição 
(efeito que tranforma o elemento onde o mouse passa na página html) */
#menu a:hover{
	background-color: #B22222;
}

/* 
.efeito {
	background-color:rgba(0, 0, 0, 0.5);
    padding: 80px 0 80px 0;
} */