* {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #DC143C;
	padding-top: 50px;
	padding-bottom: 50px;
	color: pink;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

h1 {
	text-align: center;
}

li {
	display: inline;
	float: center;
	font-family: 'Opens Sans', sans-serif;
	list-style: none;
	padding-right: 40px;
	padding-left: 40px;
}

p {
	color: #8B0000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}